/* Shops */
.bg-category img {
  padding: 40px;
}

.coupon .footer-coupon {
  background-color: rgb(0, 93, 191);
}

/* Header */
.customContentIndex {
  margin-top: 93px !important;
}

.header-desktop .flex-header {
  padding: 0 4rem;
}

.header-desktop .flex-header:after, .header-desktop .flex-header:before {
  display: none;
}

.header-desktop-actions {
  display: flex;
}

.header-desktop-actions div:first-child {
  margin-right: 2rem;
}

header .flex-header div:nth-child(2) {
  width: auto;
}

/* Footer */
@media (min-width: 992px) {
  footer .footer-nav ul li {
    width: auto;
    padding-right: 8rem;
  }

  footer .footer-nav ul li:first-child {
    padding-left: 4rem;
  }
}

/* Index */
.customBanner {
  background-color: #000;
}

.customBanner .border-pad {
  border: 0;
}

.customBanner .banner-title {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
}

section.offer-track.relative-fixed-on-scroll {
  max-height: none;
}

section.offer-track.relative-fixed-on-scroll.v2 {
  margin-top: 0;
}

section.offer-track.relative-fixed-on-scroll.v2 .offer-track-content .img-offer-track {
  bottom: -40px;
}

section.offer-track.relative-fixed-on-scroll .offer-track-content .img-offer-track img {
  margin-bottom: 0;
}

/* Coupon */
.redirect-page {
  height: 100vh;
  display: table;
  width: 100%;
}

.redirect-page section {
  display: table-cell;
  vertical-align: middle;
}

.redirect-page + footer {
  display: none;
}

.copyCode {
  background: transparent;
  border: 0;
}

/* Modal  */
.customModal .modal-title {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.customModal .form-control {
  height: 40px;
  border: 1px #f0f0f0 solid;
  background-color: #f5f5f5;
  line-height: 40px;
  box-shadow: none;
  outline: 0;
}

/* Banner */
.customSoon {
  background-color: #FFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.customSoon img {
  width: 100%;
  max-width: 60%;
  margin: 0 auto 2rem;
}

.customSoon h2 {
  color: #009ce3;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .customSoon {
    padding-bottom: 0;
  }

  .customSoon .row {
    display: flex;
    align-items: center;
  }

  .customSoon img {
    max-width: 465px;
    margin: 0;
  }
}