/* Shops */
.bg-category img {
  padding: 40px;
}

.coupon .footer-coupon {
  background-color: rgb(0, 93, 191);
}

/* Header */
.header-desktop .flex-header {
  padding: 0 4rem;
}

.header-desktop .flex-header:after, .header-desktop .flex-header:before {
  display: none;
}

.header-desktop-actions {
  display: flex;
}

.header-desktop-actions div:first-child {
  margin-right: 2rem;
}

header .flex-header div:nth-child(2) {
  width: auto;
}

/* Footer */
@media (min-width: 992px) {
  footer .footer-nav ul li {
    width: auto;
    padding-right: 8rem;
  }

  footer .footer-nav ul li:first-child {
    padding-left: 4rem;
  }
}

/* Index */
.customBanner {
  background-color: #000;
}

.customBanner .border-pad {
  border: 0;
}

.customBanner .banner-title {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
}

section.offer-track.relative-fixed-on-scroll {
  max-height: none;
}

section.offer-track.relative-fixed-on-scroll.v2 {
  margin-top: 0;
}

section.offer-track.relative-fixed-on-scroll.v2 .offer-track-content .img-offer-track {
  bottom: -40px;
}

section.offer-track.relative-fixed-on-scroll .offer-track-content .img-offer-track img {
  margin-bottom: 0;
}